export PELM_DR_APP_ID=d97b0e58-0949-4003-b5e5-6a8757250cdb
export PELM_DR_APP_SECRET=Zwy8Q~K7m-6uA3Ks0xhfMGG9XS4Q-SA5Wg5bnbvR
export PELM_DR_TENANT_ID=96acafad-52a3-4209-b509-f0c3eb4b7fdf
export PELM_DR_SITE_ID=TestOfDriveRefresh
export PELM_DR_TENANT_NAME=panoramdigitalltd.onmicrosoft.com